%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%% sys.config
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%

[
  {craq_node,
    [ {craq_node_process,                            craq_node_process}
     ,{craq_server_process,                          craq_server_process}
     ,{craq_server,                                  cs@localhost}
     ,{craq_ring_id,                                 craq_ring_id}
     ,{node_order,                                   craq_sorted}
     ,{load_balancer,                                load_balancer_random_impl}
     ,{failure_detector,                             failure_detector_monitor_impl}
     ,{write_conflict_resolver,                      write_conflict_resolver_node_value_impl}
     ,{unique_id_generator,                          unique_id_generator_impl}
     ,{mapf_path_calc_input_mod,                     mapf_path_calc_input_no_persist}
     ,{craq_process_time,                            [{50, 1}, {20, 100}]} 
     ,{craq_precedence_order,                        20}
     ,{craq_precedence_plan,                         20}
     ,{craq_precedence_move,                         50}
    ]
  },
  {craq_server,
    [ {craq_node_process,                            craq_node_process}
     ,{craq_server_process,                          craq_server_process}
     ,{craq_server,                                  cs@localhost}
     ,{craq_ring_id,                                 craq_ring_id}
     ,{node_order,                                   craq_sorted}
     ,{load_balancer,                                load_balancer_random_impl}
     ,{failure_detector,                             failure_detector_monitor_impl}
     ,{write_conflict_resolver,                      write_conflict_resolver_node_value_impl}
     ,{unique_id_generator,                          unique_id_generator_impl}
     ,{mapf_path_calc_input_mod,                     mapf_path_calc_input_persist_message}
     ,{craq_process_time,                            [{50, 1}, {20, 100}]}
     ,{craq_precedence_order,                        50}
     ,{craq_precedence_plan,                         20}
     ,{craq_precedence_move,                         50}
    ]
  }
].